#container{
    height: 50px;
    width: 900px;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    background-color: pink;
    justify-content: flex-start;
    align-content: center;

}
.child{
    

}
