#container
{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-color: aquamarine;
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around ;
    align-content: space-around;
    border-radius: 20px;
}
.child{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    background-color: grey;

}